h1,h2 {
    text-align: center;
    color: white;
}

body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

label { 
    color: white;
    float: left;
    padding-right: 120px;
}
input{
    position:static;
    float: center;
    width: 200px;
    height: 40px;
}

#email{
    max-width: 300px;
    min-width: 100px;
}


